<h1>footer</h1>
</body>

<footer id="footer" class="white-section">
    <div class="container-fluid">



      <i class="fab fa-twitter icon3"></i>
      <i class="fab fa-instagram icon3"></i>
      <i class="fab fa-facebook-f icon3"></i>
      <i class="fas fa-envelope icon3"></i>


    <p>© Copyright 2020 TinDog</p>
    </div>

  </footer>

</html>