<%-include("partials/header")%>

<h1>home page</h1>

<body>

  <section id="title" class="colored-section">
    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand " href="">PetAdoption</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#abcd">Login</a>
            </li>
          </ul>
        </div>
      </nav>





      <!-- Title -->

      <div class="row">
        <div class="col-lg-6">
          <h1 class="heading1">Find new and interesting dogs for you and your family.</h1>
          <button type="button" class="btn btn-dark btn-lg button1">Adopt</button>
        </div>
        <div class="col-lg-6">
          <!-- <img class="image1" src="images/iphone6.png" alt="iphone-mockup"> -->
          <img class="image1" src="public/images/PetAdopt.jpg" alt="iphone-mockup">

        </div>
      </div>
    </div>

  </section>


  <!-- Features -->

  <section id="features" class="white-section">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 feature-box">
          <i class="fas fa-check-circle fa-4x icon2"></i>
          <h3 class="heading">Easy to use.</h3>
          <p class="para1">So easy to use, even your dog could do it.</p>
        </div>
        <div class="col-lg-4 feature-box">
          <i class="fas fa-bullseye fa-4x icon2"></i>
          <h3 class="heading">Elite Clientele</h3>
          <p class="para1">We have all the dogs, the greatest dogs.</p>
        </div>
        <div class="col-lg-4 feature-box">
          <i class="fas fa-heart fa-4x icon2"></i>
          <h3 class="heading">Guaranteed to work.</h3>
          <p class="para1">Find the love of your dog's life or your money back.</p>
        </div>
      </div>
    </div>


  </section>


  <!-- Testimonials -->

  <section id="testimonials" class="colored-section">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid ">
          <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on
            TinDog. Woof.</h2>
          <img class="testimonial-image" src="public/images/dog-img.jpg" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of
            their life. I think.</h2>
          <img class="testimonial-image" src="public/images/lady-img.jpg" alt="lady-profile">
          <em>Beverly, Illinois</em>

        </div>


        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>




  </section>


  <!-- Press -->

  <section id="press" class="colored-section">
    <img class="press-logo" src="public/images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="public/images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="public/images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="public/images/mashable.png" alt="mashable-logo">

  </section>


  <!-- Pricing -->

  <section id="pricing" class="white-section">


    <h2 class="heading1">A Plan for Every Dog lover.</h2>
    <p>Get the best and rarest dogs.</p>
    <div class="row">
      <div class="pricing-component col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>AfghanHound</h3>
          </div>
          <div class="card-body">
            <img class="dog-image" src="public/images/AfghanHound.jpg" alt="dog-profile">
            <h2>Get It</h2>
            <p>Afghan Hound</p>
            <p>Expectancy :12</p>

            <button type="button" class="btn btn-outline-dark btn-lg button2">Adopt</button>
          </div>
        </div>


      </div>
      <div class="pricing-component col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Boxer</h3>
          </div>
          <div class="card-body">
            <img class="dog-image" src="public/images/boxer.jpg" alt="dog-profile">
            <h2>Get It</h2>
            <p>Boxer</p>
            <p>Expectancy :10.4</p>
            <button type="button" class="btn btn-dark btn-lg button2">Adopt</button>
          </div>
        </div>

      </div>
      <div class="pricing-component col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Pug</h3>
          </div>
          <div class="card-body">
            <img class="dog-image" src="public/images/pug.jpg" alt="dog-profile">
            <h2>Get It</h2>
            <p>Pug</p>
            <p>Expectancy :16</p>
            <button type="button" class="btn btn-dark btn-lg button2">Adopt</button>
          </div>
        </div>

      </div>
    </div>

  </section>


  <!-- Call to Action -->

  <section id="cta" class="colored-section">
    <div class="container-fluid">


      <h3 class="head5">Find the True Love of Your Dog's Life Today.</h3>
      <button type="button" class="btn btn-dark btn-lg button1 ">Adopt</button>

    </div>

  </section>




</body>




<%-include("partials/footer")%>