html,
body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	color: #3b444b;
}
.button {
	background-color: #ea4c89;
	color: white;
}
.adoption {
	color: #6b515a;
}

#search {
	background-color: #132743;
}
#load {
	margin-left: 550px;
}
#bar {
	width: 600px;
	margin-left: 350px;
}

.colored-section {
	background-color: #f1cdd7;
}

.button1 {
	margin: 5% 3% 5% 0;
}

.navbar {
	padding: 0 0 4.5rem;
}
.navbar-brand {
	font-family: 'Ubuntu';
	font-size: 2.5rem;
	font-weight: bold;
	color: #6b515a;
}
.nav-item {
	padding: 0 18px;
}
.nav-link {
	font-size: 1.2rem;
}
.image1 {
	width: 60%;
	transform: rotate(0deg);
	position: absolute;
	right: 20%;
}
.icon2 {
	color: #f1cdd7;
	margin-bottom: 1rem;
}
p {
	color: #8f8f8f;
}

/* feature section */

#features {
	position: relative;
}
.heading {
	font-size: 1.5rem;
}
.icon2:hover {
	color: #f1cdd7;
}

.feature-box {
	padding: 5%;
}

/* testimonial section */

#testimonials {
	background-color: #f1cdd7;
}
.testimonial-text {
	line-height: 1.2;
	font-size: 3rem;
}
.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

/* press section */
.dog-image {
	max-width: 40%;
	width: 40%;
	height: 80px;
	border-radius: 100%;
	height: 100px;
}

.user-img {
	/* width: 20%;
	height: 20%;
	border-radius: 100%;
	margin-left: 600px; */
	width: 100px;
	border-radius: 100%;
	height: 100px;
	/* margin-left: 600px */
}

#press {
	background-color: #f1cdd7;
	padding-bottom: 3%;
}
.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
	padding: 100px;
}
.pricing-component {
	padding: 3% 2%;
}

.button2 {
	width: 100%;
}

/* cta section */

.head5 {
	line-height: 1.5;
	font-size: 3rem;
}

/* footer section */

.icon3 {
	margin: 20px 10px;
}

/* phone */
@media (max-width: 1028px) {
	.image1 {
		position: static;
		transform: rotate(0);
	}
	#title .container-fluid {
		text-align: center;
	}
}

.contact {
	background-color: #f1cdd7;
}
.userphoto {
	color: blue;

	width: 885px;
	margin-left: 545px;
}
#Email {
	background-color: white;
	text-align: center;
}
#Name {
	background-color: white;
	text-align: center;
}
hr {
	width: 500px;
	align-self: center;
	color: black;
}
.user-profile {
	margin-top: 20px;
	width: 300px;
	height: 300px;
	border-radius: 100%;
}
#Info {
	background-color: white;
	text-align: center;
}

.pet {
	align-items: center;
}
.pet-profile {
	margin-top: 20px;
	width: 45%;
	height: 45%;
	align-items: center;
	border-radius: 20%;
}
.userphot {
	color: blue;
	width: 885px;
	margin-left: 40%;
}
