html,
body {
	height: 100%;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.row {
	flex: 1;
}

.left-side {
	background-color: #f1cdd7;
	color: #865c6c;
	text-align: center;
}

.right-side {
	margin: auto;
}

.button {
	background-color: #ea4c89;
	color: white;
}

.login-form {
	width: 70%;
	margin: auto;
}
label {
	font-weight: 700;
	font-size: 1.2rem;
}

.brand-name {
	font-size: 2rem;
	font-weight: 700;
	padding-top: 15%;
	padding-left: 5%;
}

.brand-desc {
	font-size: 1.2rem;
	font-weight: 400;
	padding-left: 5%;
}
.register-button:hover {
	background-color: #ea4c89;
	color: white;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}